.table {
  margin: 20px 0;
}
.table-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 24px;
  font-size: 16px;
  justify-content: space-around;
}

.arrowContainer {
  position: absolute;
  padding-left: 9em;
}
.arrow {
  height: 10px;
  width: 10px;
	border: 1px solid #ef6c00;
	border-width: 2px 2px 0 0;
}
.arrow-up {
  transform: rotate(-45deg);
  margin-top: 7px;
}
.arrow-down {
  transform: rotate(135deg);
  margin-top: -7px;
}
