.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.page {
  margin: 20px;
}

.interactions {
  text-align: center;
}

.loader{
  margin: 0 0 0;
  height: 40px;
  width: 20%;
  text-align: center;
  padding: 0;
  margin: 0 auto 0;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #00A7B2;
}
